{% extends 'main_app/base.html' %}
{% load static %}

{% block active_main %}
	<li ><a href="{% url 'home' %}">Главная</a>
{% endblock %}
		{% block content %}
		<div class="mg-page-title parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Запись на полный курс оздоровления</h2>
						<p></p>
					</div>
				</div>
			</div>
		</div>
		<div class="mg-single-room-price">
			<div class="mg-srp-inner">₽{{ price.standart_room_full_health }}<span>/Сутки</span></div>
		</div>
		<div class="mg-page">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mg-booking-form">
							<div class="tab-content">
								<div class="mg-filter">
								<label>
										<a class="btn btn-link" href="#course-info">Подробнее о курсе и процедурах <i class="fa fa-angle-double-right"></i></a>
									</label>
								</div>
									<div class="mg-saerch-room">
										<div class="mg-book-now mt80">
											<div class="row">
												<div class="col-lg-3">
													<h2 class="mg-bn-title">Запишитесь<span class="mg-bn-big">Выберите удобные даты</span></h2>
												</div>
												<div class="col-lg-9">
													<div class="mg-bn-forms">
														<form method="post">
															{% csrf_token %}
															<div class="row">
																<div class="col-md-6 col-lg-4">
																	<div class="input-group">
																		<div class="input-group-addon"><i class="far fa-calendar-alt"></i></div>
																		{{ form.check_in_out }}
																	</div>
																	<span style="color: red">{{ form.check_in_out.errors }}</span>
																</div>
																<div class="col-md-6 col-lg-4">
																	<div class="input-group">
																			{{ form.adult }}
																	</div>
																	<span style="color: red">{{ form.adult.errors }}</span>
																</div>
																<div class="col-md-12 col-lg-2">
																	<button class="btn btn-main btn-block" type="submit">Найти</button>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
		<div class="mg-single-room" id="course-info">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mb-4 mb-lg-0">
						<div class="mg-gallery-container">
							<ul class="mg-gallery" id="mg-gallery">
								<li><img src="{{ course.photo_1.url }}" alt="Partner Logo"></li>
								<li><img src="{{ course.photo_2.url }}" alt="Partner Logo"></li>
								<li><img src="{{ course.photo_3.url }}" alt="Partner Logo"></li>
							</ul>
							<ul class="mg-gallery-thumb" id="mg-gallery-thumb">
								<li><img src="{{ course.photo_1.url }}" alt="Partner Logo"></li>
								<li><img src="{{ course.photo_2.url }}" alt="Partner Logo"></li>
								<li><img src="{{ course.photo_3.url }}" alt="Partner Logo"></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-5 mg-room-fecilities">
						<h2 class="mg-sec-left-title">Удобства курса</h2>
						<div class="row">
							<div class="col-6">
								<ul>
									<li><i class="far fa-sun"></i>Индивидуальная программа</li>
									<li><i class="fp-ht-swimmingpool"></i>Бассейн и SPA</li>
									<li><i class="fp-ht-bed"></i> 2-x спальные кровати</li>
									<li><i class="fp-ht-maid"></i> Уборка номеров</li>
								</ul>
							</div>
							<div class="col-6">
								<ul>
									<li><i class="fp-ht-food"></i> 3-х разовое питание </li>
									<li><i class="fp-ht-tv"></i> TV LCD</li>
									<li><i class="fp-ht-computer"></i>Бесплатный Wi-fi</li>
									<li><i class="fp-ht-parking"></i>Бесплатная парковка</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="mg-single-room-txt">
							<h2 class="mg-sec-left-title">Описание курса</h2>
							{{ course.description|safe }}
							</div>
					</div>
				</div>
			</div>
		</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'datepicker/js/datepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'datepicker/css/datepicker.min.css' %}">
<script>

var min_date = new Date()
min_date.setDate(min_date.getDate()+2)
var max_date = new Date()
max_date.setMonth(max_date.getMonth()+6)

	$('#1').datepicker({
		range: true,
		minDate: min_date,
		toggleSelected: true,
		maxDate: max_date,
		clearButton: true,
		multipleDatesSeparator: ' - ',
		dateFormat: 'dd/mm/yyyy',
		onSelect(formattedDate, date, inst){
			let min = new Date(date);
			let max = new Date(date);
			min.setDate(min.getDate()+1);
			max.setDate(max.getDate()+21);
			inst.minDate = min;
			inst.maxDate = max;
			if (date.length === 0) {
				this.minDate = min_date;
				this.maxDate = max_date;
				inst.minDate = min_date;
				inst.maxDate = max_date;
			} else if (date.length >1){
				this.minDate = min_date;
				this.maxDate = max_date;
				inst.minDate = min_date;
				inst.maxDate = max_date;
				inst.hide()
			}
		}
	})


</script>
		{% endblock content %}