{% extends 'main_app/base.html' %}
{% load static %}

{% block active_main %}
	<li ><a href="{% url 'home' %}">Главная</a>
{% endblock %}
		{% block content %}
		<div class="mg-page-title parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Запись на комплексную программу оздоровления "макси"</h2>
						<p></p>
					</div>
				</div>
			</div>
		</div>
		<div class="mg-single-room-price">
			<div class="mg-srp-inner" style="font-size: 160%">от {{ price.full_health_maxi }}<a style="font-size: 90%">₽</a><span>/Сутки</span></div>
		</div>
		<div class="mg-page">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mg-booking-form">
							<div class="tab-content">
								<div class="mg-filter">
								<label>
										<a class="btn btn-link" href="#course-info" style="font-size: 150%">Подробнее о курсе и процедурах <i class="fa fa-angle-double-right"></i></a>
									</label>
								</div>
									<div id="block-search-inner">
										<div id='tl-search-form-inner' class='tl-container'>
											<noindex><a href='https://www.travelline.ru/products/tl-hotel/' rel='nofollow' target='_blank'>TravelLine</a></noindex>
										</div>
									</div>
									</div>
<!--									<div class="mg-saerch-room">-->
<!--										<div class="mg-book-now mt80">-->
<!--											<div class="row">-->
<!--												<div class="col-lg-3">-->
<!--													<h2 class="mg-bn-title">Запишитесь<span class="mg-bn-big">Выберите удобные даты</span></h2>-->
<!--												</div>-->
<!--												<div class="col-lg-9">-->
<!--													<div class="mg-bn-forms">-->
<!--														<form method="post">-->
<!--															{% csrf_token %}-->
<!--															<div class="row">-->
<!--																<div class="col-md-6 col-lg-4">-->
<!--																	<div class="input-group">-->
<!--																		<div class="input-group-addon"><i class="far fa-calendar-alt"></i></div>-->
<!--																		{{ form.check_in_out }}-->
<!--																	</div>-->
<!--																	<span style="color: red">{{ form.check_in_out.errors }}</span>-->
<!--																</div>-->
<!--																<div class="col-md-6 col-lg-4">-->
<!--																	<div class="input-group">-->
<!--																			{{ form.adult }}-->
<!--																	</div>-->
<!--																	<span style="color: red">{{ form.adult.errors }}</span>-->
<!--																</div>-->
<!--																<div class="col-md-12 col-lg-2">-->
<!--																	<button class="btn btn-main btn-block" type="submit">Найти</button>-->
<!--																</div>-->
<!--															</div>-->
<!--														</form>-->
<!--													</div>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--									</div>-->
								</div>
								</div>
		<div class="mg-single-room" id="course-info">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mb-4 mb-lg-0">
						<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
                		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
						<div id="carouselExampleFade{{ forloop.counter }}" class="carousel slide carousel-fade">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="{{ course.photo_1.url }}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="{{ course.photo_2.url }}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="{{ course.photo_3.url }}" class="d-block w-100" alt="...">
                                </div>
								  {% if course.photo_4 %}
                                  <div class="carousel-item">
                                  <img src="{{ course.photo_4.url }}" class="d-block w-100" alt="...">
                                </div>
								  {% endif %}
								  {% if course.photo_5 %}
								  <div class="carousel-item">
                                  <img src="{{ course.photo_5.url }}" class="d-block w-100" alt="...">
                                </div>
								  {% endif %}
								  {% if course.photo_6 %}
								  <div class="carousel-item">
                                  <img src="{{ course.photo_6.url }}" class="d-block w-100" alt="...">
                                </div>
								  {% endif %}
								  {% if course.photo_7 %}
								  <div class="carousel-item">
                                  <img src="{{ course.photo_7.url }}" class="d-block w-100" alt="...">
                                </div>
								  {% endif %}
								  {% if course.photo_8 %}
								  <div class="carousel-item">
                                  <img src="{{ course.photo_8.url }}" class="d-block w-100" alt="...">
                                </div>
								  {% endif %}
								  {% if course.photo_9 %}
								  <div class="carousel-item">
                                  <img src="{{ course.photo_9.url }}" class="d-block w-100" alt="...">
                                </div>
								  {% endif %}
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade{{ forloop.counter }}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade{{ forloop.counter }}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
					</div>
					<div class="col-lg-5 mg-room-fecilities">
						<h2 class="mg-sec-left-title">Удобства курса</h2>
						<div class="row">
							<div class="col-6">
								<ul>
									<li><i class="far fa-sun"></i>Индивидуальная программа</li>
									<li><i class="fp-ht-swimmingpool"></i>Бассейн и SPA</li>
									<li><i class="fp-ht-bed"></i> 2-x спальные кровати</li>
									<li><i class="fp-ht-maid"></i> Уборка номеров</li>
								</ul>
							</div>
							<div class="col-6">
								<ul>
									<li><i class="fp-ht-food"></i> 3-х разовое питание </li>
									<li><i class="fp-ht-tv"></i> TV LCD</li>
									<li><i class="fp-ht-computer"></i>Бесплатный Wi-fi</li>
									<li><i class="fp-ht-parking"></i>Бесплатная парковка</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="mg-single-room-txt">
							<h2 class="mg-sec-left-title">Описание курса</h2>
							{{ course.description|safe }}
							</div>
					</div>
				</div>
			</div>
		</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<link rel="stylesheet" href="{% static 'assets/libs/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/libs/fontawesome/css/fontawesome-all.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/cs-select.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datepicker3.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/freepik.hotels.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/nivo-lightbox.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/nivo-lightbox-theme.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/travelline-style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'datepicker/js/datepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'datepicker/css/datepicker.min.css' %}">
<script>

var min_date = new Date()
min_date.setDate(min_date.getDate()+2)
var max_date = new Date()
max_date.setMonth(max_date.getMonth()+6)

	$('#1').datepicker({
		range: true,
		minDate: min_date,
		toggleSelected: true,
		maxDate: max_date,
		clearButton: true,
		multipleDatesSeparator: ' - ',
		dateFormat: 'dd/mm/yyyy',
		onSelect(formattedDate, date, inst){
			let min = new Date(date);
			let max = new Date(date);
			min.setDate(min.getDate()+1);
			max.setDate(max.getDate()+21);
			inst.minDate = min;
			inst.maxDate = max;
			if (date.length === 0) {
				this.minDate = min_date;
				this.maxDate = max_date;
				inst.minDate = min_date;
				inst.maxDate = max_date;
			} else if (date.length >1){
				this.minDate = min_date;
				this.maxDate = max_date;
				inst.minDate = min_date;
				inst.maxDate = max_date;
				inst.hide()
			}
		}
	})


</script>
		{% endblock content %}