{% extends 'main_app/base.html' %}
{% load static %}

{% block active_main %}
	<li ><a href="{% url 'home' %}">Главная</a>
{% endblock %}
		{% block content %}
		<div class="mg-page-title parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Спасибо</h2>
						<p></p>
					</div>
				</div>
			</div>
		</div>
		<div class="mg-page">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mg-booking-form">
							<div class="tab-content">
									<div class="alert alert-success alert-dismissible clearfix">
										<button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class="mg-alert-icon"><i class="fa fa-check"></i></div>
										<h3 class="mg-alert-payment">Мы приняли вашу заявку! Скоро Вам перезвонит менеджер для выяснения подробностей</h3>
									</div>
									<div class="mg-cart-container mg-paid">
										<aside class="mg-widget mt50" id="mg-room-cart">
											<h2 class="mg-widget-title">Детали бронирования</h2>
											<div class="mg-widget-cart">
												<div class="row">
													<div class="col-md-6">
														<h3 class="mg-payment-id">Прием остеопата</h3>
														<div class="mg-widget-cart-row"><strong>Дата приема:</strong><span>{{ date }}</span></div>
														<div class="mg-cart-total"><strong>Итого: </strong><span>₽{{ price }}</span></div>
														<a href="{% url 'home' %}"><button class="btn btn-main" type="submit">Вернуться на главную</button></a>
													</div>
												</div>
											</div>
										</aside>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock content %}