{% extends 'main_app/base.html' %}
{% load static %}

{% block active_main %}
	<li ><a href="{% url 'home' %}">Главная</a>
{% endblock %}
		{% block content %}
		<div class="mg-page-title parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Запись на прием к остеопату</h2>
						<p></p>
					</div>
				</div>
			</div>
		</div>
		<div class="mg-single-room-price">
			<div class="mg-srp-inner">₽{{ price.osteopat }}<span>/Прием</span></div>
		</div>
		<div class="mg-page">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mg-booking-form">
							<div class="tab-content">
								<div class="mg-filter">
								<label>
										<a class="btn btn-link" href="#course-info">Подробнее о приеме <i class="fa fa-angle-double-right"></i></a>
									</label>
								</div>
									<div id="block-search-inner">
										<div id='tl-search-form-inner' class='tl-container'>
											<noindex><a href='https://www.travelline.ru/products/tl-hotel/' rel='nofollow' target='_blank'>TravelLine</a></noindex>
										</div>
									</div>
									<div class="mg-saerch-room">
										<div class="mg-book-now mt80">
											<div class="row">
												<div class="col-lg-3">
													<h2 class="mg-bn-title">Запишитесь<span class="mg-bn-big">По телефону</span></h2>
												</div>
												<div class="col-lg-9">
													<div class="mg-bn-forms">
															<div class="row">
																<div class="col-md-6 col-lg-4">
																<div class="col-md-12 col-lg-9">
																	<span style="color: white; font-size: 115%;">{{ phone }}</span>
																</div>
															</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
		<div class="mg-single-room" id="course-info">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 mb-4 mb-lg-0">
						<div class="mg-gallery-container">
							<ul class="mg-gallery" id="mg-gallery">
								<li><img src="{{ course.photo_1.url }}" alt="Partner Logo"></li>
								<li><img src="{{ course.photo_2.url }}" alt="Partner Logo"></li>
								<li><img src="{{ course.photo_3.url }}" alt="Partner Logo"></li>
							</ul>
							<ul class="mg-gallery-thumb" id="mg-gallery-thumb">
								<li><img src="{{ course.photo_1.url }}" alt="Partner Logo"></li>
								<li><img src="{{ course.photo_2.url }}" alt="Partner Logo"></li>
								<li><img src="{{ course.photo_3.url }}" alt="Partner Logo"></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-5 mg-room-fecilities">
						<h2 class="mg-sec-left-title">Удобства приема</h2>
						<div class="row">
							<div class="col-6">
								<ul>
									<li><i class="far fa-sun"></i>Индивидуальная консультация</li>
									<li><i class="fp-ht-bottle"></i>Фитобар</li>
									<li><i class="fp-ht-computer"></i>Бесплатный Wi-fi</li>
								</ul>
							</div>
							<div class="col-6">
								<ul>
									<li><i class="fp-ht-sunumbrella"></i>Зона отдыха</li>
									<li><i class="fp-ht-parking"></i>Бесплатная парковка</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="mg-single-room-txt">
							<h2 class="mg-sec-left-title">Описание приема</h2>
							{{ course.description|safe }}
							</div>
					</div>
				</div>
			</div>
		</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'datepicker/js/datepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'datepicker/css/datepicker.min.css' %}">
<script>

var min_date = new Date()
min_date.setDate(min_date.getDate()+1)
var max_date = new Date()
max_date.setMonth(max_date.getMonth()+6)

	$('#1').datepicker({
		minDate: min_date,
		maxDate: max_date,
		clearButton: true,
		dateFormat: 'dd/mm/yyyy',
		onSelect(formattedDate, date, inst){
				inst.hide();
			}
		})


</script>
		{% endblock content %}