{% extends 'main_app/base.html' %}
{% load static %}

{% block active_main %}
	<li ><a href="{% url 'home' %}">Главная</a>
{% endblock %}
		{% block active_gallery %}
			<li class="active"><a href="{% url 'gallery' %}">Галерея</a>
			</li>
			{% endblock %}
        {% block content %}
        		<div class="mg-page-title parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Галерея</h2>
						<p></p>
					</div>
				</div>
			</div>
		</div>
		<div class="mg-page">
			<div class="container">
				<div id="block-search-inner">
					<div id='tl-search-form-inner' class='tl-container'>
						<noindex><a href='https://www.travelline.ru/products/tl-hotel/' rel='nofollow' target='_blank'>TravelLine</a></noindex>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="mg-filter">
							<form id="mg-filter">
								<fieldset>
									<label class="btn btn-dark btn-main">
										<input type="radio" name="filter" value="all" checked="checked">Все
									</label>
									{% for category in categories %}
									<label class="btn btn-dark">
										<input type="radio" name="filter" value="{{ category.category }}">{{ category.category }}
									</label>
									{% endfor %}
								</fieldset>
							</form>
						</div>
						<div class="row" id="mg-grid">
							{% for photo in photos %}
							<figure class="col-lg-4 mg-gallery-item" data-groups="[&quot;{{ photo.category.category }}&quot;]"><a href="{{ photo.image.url }}" data-lightbox-gallery="rooms"><img class="img-fluid" src="{{ photo.image.url }}" alt=""/><span class="mg-gallery-overlayer"><i class="fa fa-search-plus"></i></span></a></figure>
							{% endfor %}
							</div>
					</div>
				</div>
			</div>
		</div>
        {% endblock %}